.layoutWrapper {
  display: grid;
  background-color: #18181b;
  color: white;
  grid-template-rows: 1fr;
}

.glassWrapper {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 12px 0 rgba(92, 92, 95, 0.27);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  margin: 40px 40px 40px 10px;
}
